<section id="goals" class="col-md-8 test-goals">
    <header>
        <h3>Сделано за сегодня</h3>
    </header>
    <section id="goals-grid-container" ng-show="keys.length" ng-cloak>
        <div id="goals-grid">
            <div ng-repeat="goal in goals" ng-switch on="$index % 2">
                <div class="row" ng-switch-when="0">
                    <div class="col-md-6 goal-detail">
                        <h5>{{goal.title}}</h5>
                        <eg-editor
                            placeholder="defaultPlaceholder"
                            ng-model="goal[reportModelName].description"
                            ng-change="save(goal)"
                        ></eg-editor>
                    </div>
                    <div class="col-md-6 goal-detail">
                        <h5>{{goals[$index+1].title}}</h5>
                        <eg-editor
                            ng-if="goals[$index+1]"
                            placeholder="defaultPlaceholder"
                            ng-model="goals[$index+1][reportModelName].description"
                            ng-change="save(goal)"
                                ></eg-editor>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="goal-details">

    </section>
</section>


