.goals {
  h1 {
    position: absolute;
    top: -120px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    .text-rendering(optimizeLegibility);
  }

}

.panel-body {
  padding: 0;
}

.goals-grid-container {
  position: relative;
}

#goals-grid {
  margin: 0;
  padding: 0;
  list-style: none;

  .eg-control-panel {
    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }
  .toggle {
    text-align: center;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    /*-moz-appearance: none;*/
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
  }

  .toggle:after {
    content: '?';
    line-height: 43px; /* 40 + a couple of pixels visual adjustment */
    color: #d9d9d9;
    text-shadow: 0 -1px 0 #bfbfbf;
  }

  .toggle:checked:after {
    color: #85ada7;
    text-shadow: 0 1px 0 #669991;
    bottom: 1px;
    position: relative;
  }

  label {
    word-break: break-word;
    padding: 15px;
    margin-left: 45px;
    display: block;
    line-height: 1.2;
    .transition(color 0.4s);
  }
  &:nth-child(2n+1) {
  }
  &:nth-child(2n) {
  }
}

.eg-panel {
  .panel-heading {
    padding-bottom: 3px;
  }
}

.eg-control-panel {
  .btn {
    color: #666;
    padding: 3px 6px;

    background: none;
    outline: none;
    box-shadow: none;
    &:hover, &:active {
      background: none;
      outline: none;
      .box-shadow(none);
      color: #333;
    }
  }
}

.goal-additional-info {
  margin: 65px auto 0;
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
  a {
    color: inherit;
  }
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox and Opera
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {

  .hidden {
    display: none;
  }

  hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px dashed #C5C5C5;
    border-bottom: 1px dashed #F7F7F7;
  }

}

.speech-bubble {
  position: relative;
  padding: 10px;
  background: rgba(0, 0, 0, .04);
  border-radius: 5px;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 30px;
  border: 13px solid transparent;
  border-top-color: rgba(0, 0, 0, .04);
}

/**body*/
.learn-bar > .learn {
  position: absolute;
  width: 272px;
  top: 8px;
  left: -300px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .6);
  transition-property: left;
  transition-duration: 500ms;
}

@media (min-width: 899px) {
  /**body*/
  .learn-bar {
    width: auto;
    margin: 0 0 0 300px;
  }

  /**body*/
  .learn-bar > .learn {
    left: 8px;
  }

  /**body*/
  .learn-bar #todoapp {
    width: 550px;
    margin: 130px auto 40px auto;
  }
}

@import "directives/eg-editor.less";
