<tabset>
    <tab>
        <section id="goals" class="col-md-8">
            <header>
                <h3>Сделано за сегодня</h3>
            </header>
            <section id="goals-grid-container" ng-show="goalsCount()" ng-cloak>
                <div id="goals-grid">
                    <div ng-repeat="goal in goals" ng-switch on="$index % 2">
                        <div class="row" ng-switch-when="0">
                            <div class="col-md-6 goal-detail" goal-detail goal="goals[$index+0]"></div>
                            <div class="col-md-6 goal-detail" goal-detail goal="goals[$index+1]"></div>
                        </div>
                    </div>
                </div>
            </section>

            <ng-include src="tpl.filters"/>
            <section class="goal-details">
                <section id="steps-list-container" ng-show="goalDetail.steps.length" ng-cloak>
                    <ul id="steps-list" class="nav nav-stacked">
                        <li ng-repeat="todo in goalDetail.steps">
                            <div class="view">
                                <a href="/step/{{todo.id}}">{{todo.title}}</a>
                            </div>
                        </li>
                    </ul>
                </section>
            </section>
        </section>
        <tab-heading>
            <a href="/">Today (22%)</a>
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
            <a href="/yesturday">Yesturday (22%)</a>
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
            Wall(social)
        </tab-heading>
    </tab>

    <tab>
        <tab-heading>
            All(social)
        </tab-heading>
    </tab>
    <tab>
        <tab-heading>
            History
        </tab-heading>
    </tab>

</tabset>

