<div id="goals-grid">
    <div class="row" ng-repeat="goal in goals" ng-if="$even">
        <eg-goal-pane class="col-md-6 goal-detail" ng-click="setFocus(goal)" ng-transclude>
            <h5>{{goal.title}}</h5>
            <eg-editor
                placeholder="defaultPlaceholder"
                ng-model="goal[day].report.description"
                on-change="save(goal)"
                ng-focus="setFocus(goal)"
                    ></eg-editor>
        </eg-goal-pane>
        <eg-goal-pane class="col-md-6 goal-detail" ng-click="setFocus(goals[$index+1])"  ng-transclude>
            <h5>{{goals[$index+1].title}}</h5>
            <eg-editor
                ng-if="goals[$index+1]"
                placeholder="defaultPlaceholder"
                ng-model="goals[$index+1][day].report.description"
                on-change="save(goals[$index+1])"
                ng-focus="setFocus(goals[$index+1])"
                    ></eg-editor>
        </eg-goal-pane>
    </div>
</div>
<div class="conclusion">
    <h4>Инсайты за день:</h4>
    <eg-editor
        placeholder="defaultPlaceholder"
        ng-model="conclusions[day].description"
        ng-change="save(conclusions[day])"
        ></eg-editor>
</div>
